.modal {
  position: absolute;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 6px;
  top: 30%;
  left: 25%;
  width: 50%;
  transition: 0.1s ease-in;
}

.modalOpen {
  /* animation: modalOpen 0.3 ease-out forwards; */
}

.modalClose {
    opacity: 0;
    transform: translateY(-50%);
    visibility: hidden;
  /* animation: modalClose 0.3 ease-out forwards; */
}

@keyframes modalOpen {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0.75;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalClose {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.75;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}
